[submodule "YDLidarx2_ws/src/ydlidar-sdk"]
	path = YDLidarx2_ws/src/ydlidar-sdk
	url = https://github.com/YDLIDAR/YDLidar-SDK
[submodule "YDLidarx2_ws/src/ydlidar_ros2_driver/"]
	url = https://github.com/DeveloperPyy/ydlidar_ros2_driver
[submodule "YDLidarx2_ws/src/ydlidar_ros2_driver"]
	path = YDLidarx2_ws/src/ydlidar_ros2_driver
	url = https://github.com/DeveloperPyy/ydlidar_ros2_driver
